.discovery_container {
   margin-bottom: 10rem;
}

.header {
   display: flex;
   justify-content: space-between;
   padding: 15px;
}

.header .menufolder {
   display: flex;
   align-items: center;
   font-size: 2rem;
}

.search_box {
   flex: 1;
   margin: 0 10px;
   text-align: left;
   background-color: #ffffff;
   border-radius: 20px;
   padding: 8px 5px 8px 15px;
}

/* 推荐歌单 */
.rec_palylist {
   width: 100%;
   margin: 10px 0;
   border-top: 0.5px solid #b5b5b5;
   padding: 15px 0 15px 15px;
   background-color: #ffffff;
}

.rec_palylist_top {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-right: 15px;
}

.rec_palylist_title {
   font-size: 20px;
   font-weight: 800;
}

.rec_palylist_top .icon {
   margin-left: -5px;
}

/* 推荐歌 */
.rec_songs {
   padding: 1rem;
   background-color: #fff;
}

.rec_songs_top {
   display: flex;
   justify-content: space-between;
   font-size: 2rem;
   font-weight: 600;
   align-items: center;
}

.rec_songs_title {
   margin: 0 1rem;
   flex: 1;
   text-align: left;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}