.row_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 15px;
}

.row_list li {
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;

}

.row_list li:active {
    background-color: #bfbfbf;
}

.row_list li .icon {
    font-size: 24px;
    /* color: #e60026; */
    /* margin-bottom: 5px; */
}

.row_list li .name {
    margin-left: 15px;
}

.row_list li .info {
    flex: 1;
    margin: 0 10px;
    text-align: right;
}

.row_list li .details {
    font-size: 12px;
}





.row_list li .message {
    width: 17px;
    height: 17px;
    background-color: rgb(230, 0, 38);
    border-radius: 15px;
    color: white;
    position: absolute;
    right: 0px;
    top: -8px;
    text-align: center;
    line-height: 16px;
    font-size: 9px;
    font-weight: 100;
}