:global(.ant-carousel .slick-dots li) {
    height: 6px !important;
    width: 6px !important;
}

:global(.slick-dots li button) {
    height: 100% !important;
    width: 100% !important;
    border-radius: 50% !important;
}

.slick-dots li.slick-active {
    width: 100% !important;
}


:global(.ant-carousel .slick-slide img) {
    margin: 0 auto;
    border-radius: 10px;
}